body 
{
  margin: 0;
  padding: 5%;
  background-color: black;
  color: orange;
  text-align: center;
  /* font-family: 'The Halloween', sans-serif; */
  font-family: 'Creepster';
}

#game-intro h1
{
  font-family: 'The Halloween', sans-serif;
  font-size: 40px;
}

#game-intro p
{
  font-size: 27px;
}

#game-intro .orange-text {
  color: orange;
}

#start-button 
{
  font-family: 'Creepster';font-size: 35px;
  background-color: #B9823B;
  border-radius: 10%;
  padding: 20px;
  cursor: grab;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #B9823B;
  color: #fff;
}

#start-button:hover
{
  background: 0 0;
  color: #B9823B;
}

#game-container 
{
    display: flex;
    padding: 20px 0px;
    justify-content: center;
}

#game-screen 
{
  text-align: left;
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(./images/level0.png);
  background-size: cover;
  /* animation: slide 5s linear infinite; */
  }

#game-screen h2 
{
    margin: 0% 5%;
    font-size: 50px;
}

.platform 
{
    background-image: url("./images/platform.png");
    background-size: 100% 100%; /* adjust to fit the platform size */

}

#game-intro p 
{
    color: white;
    line-height: 46px;
}